<div class="row">
  <div class="w-50 mx-auto">
    <div class="form-group text-left">
      <h2><%= t(".title") %></h2>
    </div>
    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <button type="submit" class="btn btn-sm btn-success"><%= t(".title") %></button>
    <% end %>
  </div>
</div>
